.exercise-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.exercises-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}
