.circle-icon-container {
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--background-icons);
  padding: 6px;
  cursor: pointer;

  &:hover {
    background-color: var(--background-icons-hover);
  }

  .circle-icon {
    aspect-ratio: 1 / 1;
    height: 100%;
    object-fit: cover;
  }
}
